
.container{
    background: white !important;
    width: 800px !important;
    margin:auto !important;
}
#foto-second{
    width: 200px !important;
    height: 200px !important;
    
}
#grey{
    color: grey !important;
    
}

.backgroundOfJumb {
    height:600px;
    align-items:center;
    background:url("../img/bg.jpg") center center;
    background-size: 100% 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.styleOfNavbar {
    margin-left: 10px;
}
#square1 {
    width:250px !important;
    height:200px !important;
}
#square2 {
    width:250px !important;
    height:200px !important;
}
#square3 {
    width:250px !important;
    height:200px !important;
}

.photoheading {
border-radius: 50%;
width: 200px !important;
height: 200px !important;

}
.containerheading {
    padding-top: 90px;
    padding-bottom: 50px;
    background: white !important;
    width: 800px !important;
    margin:5% auto !important;
}
.ofFooter {
    height: 80px;
}